
header {
	width: 100%;
	background: $headcolor;
	font: "BebasNeue";
}

.wrapper {
	color: $textbody;
	line-height: 175%;
}

.header-content{
	width: 80%;
	max-width: 1141px;
	margin: 3em auto;
	display: flex;
	justify-content: space-around;
}

.content{
	width: 80%;
	max-width: 1141px;
	margin: 0 auto;
}

.img-icons {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
}

.content .col-md-6 {
	padding: 20px 40px 50px 30px;

}

.timeline{
	padding-left: 50px;
}

.pricing{
	padding-left: 50px;
	padding-right: 50px;
}

.title{
	padding-top: 45px;
}

