
@import 'variables.scss';
@import 'layout.scss';
@import 'media.scss';

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf');
    font-style: normal;
}

h2 {
	font-family: BebasNeue;
	font-size: 40px;
	font-weight: lighter;
	text-transform: uppercase;
}